.scrollbar-text-dashboard::-webkit-scrollbar {
  width: 12px;
}
.scrollbar-text-dashboard::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 1000px;
}
.scrollbar-text-dashboard::-webkit-scrollbar-thumb {
  background: rgba(47, 122, 139, 1);
  border-radius: 1000px;
}
.scrollbar-text-dashboard::-webkit-scrollbar-thumb:hover {
  background:rgb(49, 146, 168);
}

.scrollbar-text-dashboard {
  direction: rtl
}

::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-track {
  background: red; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */