.local-scrollbar::-webkit-scrollbar {
  width: 0.6rem;
}
.local-scrollbar::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 1000px;
}
.local-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(47, 122, 139, 1);
  border-radius: 1000px;
}
.local-scrollbar::-webkit-scrollbar-thumb:hover {
  background:rgb(49, 146, 168);
}

.local-scrollbar {
  direction: rtl;
}

.local-scrollbar.dir-ltr {
  direction: ltr;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 1000px;
}
::-webkit-scrollbar-thumb {
  background: rgba(47, 122, 139, 1);
}
::-webkit-scrollbar-thumb:hover {
  background:rgb(49, 146, 168);
}

@media (max-width:1024px) {
  .local-scrollbar::-webkit-scrollbar {
    width: 0px;
    display: none;
  }
}