.local-scrollbar::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
.local-scrollbar::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 1000px;
}
.local-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(47, 122, 139, 1);
  border-radius: 1000px;
}
.local-scrollbar::-webkit-scrollbar-thumb:hover {
  background:rgb(49, 146, 168);
}

.market-scrollbar::-webkit-scrollbar-thumb{
  width: 10px !important;
      // bikin thumb lebih pendek
  marginLeft: auto;
  marginRight: auto;
}

.local-scrollbar {
  direction: rtl;
}

.local-scrollbar.dir-ltr {
  direction: ltr;
}

::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 1000px;
}
::-webkit-scrollbar-thumb {
  background: rgba(47, 122, 139, 1);
}
::-webkit-scrollbar-thumb:hover {
  background:rgb(49, 146, 168);
}

@media (max-width:1024px) {
  .local-scrollbar::-webkit-scrollbar {
    width: 0px;
  }
  .local-scrollbar.mobile-scrollbar::-webkit-scrollbar {
    width: 0.6rem;
  }
}